@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.Landing {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #002460;
}

.Landing__header {
	margin-bottom: 96px;
	background-color: #002460;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/background_image.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.Header__section {
	width: 940px;
	padding: 0 42px 160px;
	margin: 0 auto;
}

.Header__menu {
	width: 100%;
	padding-top: 24px;
	padding-bottom: 24px;
}

.Header__content {
	width: 100%;
}

.Content__info {
	vertical-align: top;
	display: inline-block;
}

.Content__text {
	color: white;
	font-weight: 900;
	font-size: 56px;
	margin-top: 100px;
}

.Content__button {
	margin-top: 50px;
}

.Button {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 900;
	border-radius: 10px;
	padding: 20px;
	background-color: white;
	color: #002460;
	cursor: pointer;
	outline: none;
	
}

.Content__image {
	display: inline-block;
	margin-top: 130px;
	margin-left: 100px;

}

.Menu__logotype {
	display: inline-block;
}

.Menu__list {
	display: inline-block;
	float: right;
	padding-top: 32px;
}

.Menu__link {
	color: white;
	font-weight: 900;
	font-size: 24px;
	margin-left: 24px;
	opacity: .75;
	transition: opacity ease .25s;
	cursor: pointer;
}

.Menu__link:hover {
	opacity: 1;
}

.Landing__content {
	width: 100%;
}

.Content__section {
	width: 940px;
	padding: 0 42px;
	margin: 0 auto;
	margin-bottom: 96px;
}

.Section__title {
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 24px;
}

.Section__text {
	font-size: 16px;
	font-weight: 400;
}

.Section__table {
	width: 100%;
}

.Table {
	width: 100%;
	border-collapse: collapse;
}

.Tr {
	width: 100%;
}

.Th {
	font-size: 24px;
	padding: 16px 24px;
	width: 50%;
	border: 4px solid #f1f1f1;
	text-align: left;
}

.Td {
	padding: 16px 24px;
	border: 4px solid #f1f1f1;
}

.Section__form {
	width: 100%;
}

.Form__item {
	display: inline-block;
	margin-right: 24px;
}

.Form__item_end {
	margin-right: 0;
}

.Form__label {
	display: block;
	font-weight: 900;
	margin-bottom: 8px;
}

.Form__input {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding: 16px 24px;
	outline: none;
	width: 330px;
}

.Form__select {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding: 16px 24px;
	outline: none;
	width: 386px;
}

.Form__button {
	padding: 20px 28px;
	font-size: 16px;
	background-color: #002460;
	color: white;
	border: none;
	font-weight: 700;
	cursor: pointer;
	outline: none;
}


.List__block {
	display: inline-block;
	margin-right: 38px;
}

.List__block_end {
	margin-right: 0;
}

.List__image {
	margin-bottom: 16px;
}

.List__image img {
	border-radius: 24px;
}

.List__title {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	padding: 0 16px;
}

.List__info {
	font-size: 16px;
	font-weight: 400;
	padding: 0 16px;
}

.Section__lists {
	width: 100%;
}

.Section__map {
	width: 100%;
}

.Map__img {
	display: inline-block;
	margin-left: 370px
}

.Map__number {
	margin-top: -220px;
	font-size: 22px;
	font-weight: 900;
}

.Map__adres{
	margin-top: 38px;
	font-size: 22px;
	font-weight: 900;
}

.Map__info {
	margin-top: 12px;
	font-size: 18px;
	font-weight: 400;
}

.Landing__footer {
	background-color: #002460;
}

.Footer__section {
	width: 940px;
	padding: 0 42px;
	margin: 0 auto;
}
