@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

.Landing {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: #002460;
}

.Landing__header {
	margin-bottom: 96px;
	background-color: #002460;
	background-image: url("./images/background_image.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.Header__section {
	width: 940px;
	padding: 0 42px;
	margin: 0 auto;
}

.Header__menu {
	width: 100%;
	padding-top: 24px;
	padding-bottom: 24px;
}

.Header__content {

}

.Content__info {
	vertical-align: top;
	display: inline-block;
}

.Content__text {
	color: white;
}

.Content__button {}

.Button {
	background-color: white;
}

.Content__image {
	display: inline-block;
}

.Menu__logotype {
	display: inline-block;
}

.Menu__list {
	display: inline-block;
	float: right;
	padding-top: 32px;
}

.Menu__link {
	color: white;
	font-weight: 900;
	font-size: 24px;
	margin-left: 24px;
	opacity: .75;
	transition: opacity ease .25s;
	cursor: pointer;
}

.Menu__link:hover {
	opacity: 1;
}

.Landing__content {
	width: 100%;
}

.Content__section {
	width: 940px;
	padding: 0 42px;
	margin: 0 auto;
	margin-bottom: 96px;
}

.Section__title {
	font-size: 36px;
	font-weight: 900;
	margin-bottom: 24px;
}

.Section__text {
	font-size: 16px;
	font-weight: 400;
}

.Section__lists {}

.List__block {
	display: inline-block;
	margin-right: 38px;
}

.List__block_end {
	margin-right: 0;
}

.List__image {
	margin-bottom: 16px;
}

.List__image img {
	border-radius: 12px;
}

.List__title {
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: 700;
	padding: 0 16px;
}

.List__info {
	font-size: 16px;
	font-weight: 400;
	padding: 0 16px;
}

.Landing__footer {
	background-color: #002460;
}
